{# Copyright (c) 2017 TIBCO Software Inc.#}
{% set node_index = [] %}
{% for host in groups['${ANSIBLE_HOST_GROUP}'] %}
[{{ host }}]
{% if node_index|length < configuration['NodeDeployConfiguration']['nodes']|length %}
{% set loop_count = 0 %}
{% for node in configuration['NodeDeployConfiguration']['nodes'] %}
{% if loop_count < node_count %}
{% if node_index|length < configuration['NodeDeployConfiguration']['nodes']|length %}
{% if loop.index0 >= node_index|length %}
{{ node }}
{% set loop_count = loop_count + 1 %}
{% if node_index.append('1') %}{% endif %}
{% endif %}
{% endif %}
{% endif %}
{% endfor %}
{% endif %}

{% endfor %}
