{# Copyright (c) 2017 TIBCO Software Inc.#}
[{{ CLUSTER_NAME}}]
{% for host in azure_vms.results %}
{{ host.ansible_facts.azure_vm.properties.networkProfile.networkInterfaces[0].properties.ipConfigurations[0].properties.publicIPAddress.properties.ipAddress }}
{% endfor %}

[{{ CLUSTER_NAME}}:vars]
ansible_ssh_user={{ ssh_user }}
ansible_ssh_private_key_file=~/.ssh/id_rsa_{{ ssh_key }}

